<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <header>
        <%- include("./partials/nav.ejs") %>
    </header>

    <section class="AdminSection container">
        <h1 class="text-center mb-4">Admin Stranica</h1>

        <div class="AdminForm mb-5">
            <h2>Manipuliši korisnicima</h2>
            <div class="table-responsive mt-4">
                <table class="table table-bordered table-hover">
                    <thead class="HeadTable table">
                        <tr>
                            <th>#</th>
                            <th>Korisničko ime</th>
                            <th>Unapredi korisnika</th>
                            <th>Obriši korisnika</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (korisnici && korisnici.length > 0) { %>
                            <% korisnici.forEach(function(korisnik, index) { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td><%= korisnik.nickname %></td>
                                    <td>
                                        <% if (!korisnik.admin) { %>
                                        <form action="/upgrade/<%= korisnik.KorisnikID %>" method="POST">
                                            <input type="submit" value="Unapredi" class="btn dugme">
                                        </form>
                                        <% } %>
                                        <% if (korisnik.admin) { %>
                                            ADMIN
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if (korisnik.nickname != user.username) { %>
                                        <form action="/delete/<%= korisnik.KorisnikID %>" method="POST" onsubmit="return confirm('Da li ste sigurni da želite da obrišete ovog korisnika?');">
                                            <input type="submit" value="Obriši" class="btn dugme">
                                        </form>
                                        <% } %>
                                        <% if (korisnik.nickname == user.nickname) { %>
                                            <form action="/delete/<%= korisnik.KorisnikID %>" method="POST" onsubmit="return confirm('Da li ste sigurni da želite da obrišete ovog korisnika?');">
                                                <input type="submit" value="Obriši" class="btn dugme" disabled>
                                            </form>
                                        <% } %>
                                    </td>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <tr>
                                <td colspan="4" class="text-center">Nema rezultata za prikaz.</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="AdminForm mb-5">
            <h2>Promeni pitanje</h2>
            <form action="/adminUpdateQuestion" method="POST">
                <div class="row mb-4">
                    <div class="col-12 col-sm-6">
                        <label for="TekstPitanja" class="mb-1">Tekst pitanja:</label>
                        <input type="text" name="tekstPitanja" placeholder="Unesite tekst pitanja..." class="form-control">
                        <p class="adminHelp mt-1">Ovo polje služi za promeni pitanja.</p>
                    </div>
                    <div class="col-12 col-sm-6 topMarginSmall">
                        <label for="Težina" class="mb-1">Težina pitanja:</label>
                        <select class="form-control">
                            <option default hidden></option>
                            <option value="Lako">Lako</option>
                            <option value="Srednje"> Srednje</option>
                            <option value="Teško">Teško</option>
                        </select>
                        <p class="adminHelp mt-1">Ovo polje služi za promeni pitanja.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="NazivDržave" class="mb-1">Naziv države:</label>
                        <input type="text" name="imeDrzave" placeholder="Unesite naziv države..." class="form-control">
                        <p class="adminHelp mt-1">Ovo polje služi za pretraživanje.</p>
                    </div>
                    <div class="col-12 col-sm-6 topMarginSmall">
                        <label for="TipPitanja" class="mb-1">Tip pitanja:</label>
                        <select name="tipPitanja" class="form-control">
                            <option default hidden></option>
                            <option value="Glavni grad">Glavni grad</option>
                            <option value="Zastava">Zastava</option>
                            <option value="Populacija">Populacija</option>
                            <option value="Kontinent">Kontinent</option>
                        </select>
                        <p class="adminHelp mt-1">Ovo polje služi za pretraživanje.</p>
                    </div>
                </div>
                <input type="submit" class="btn dugme mt-4" value="Promeni">
            </form>
        </div>

        <div class="AdminForm mb-5">
            <h2>Unesi pitanje</h2>
            <form action="/adminInsertQuestion" method="POST">
                <div class="row mb-4">
                    <div class="col-12 col-sm-6">
                        <label for="TekstPitanja" class="mb-1">Tekst pitanja:</label>
                        <input type="text" name="tekstPitanja" placeholder="Unesite tekst pitanja..." class="form-control">
                    </div>
                    <div class="col-12 col-sm-6 topMarginSmall">
                        <label for="Težina" class="mb-1">Težina pitanja:</label>
                        <select name="tezina" class="form-control">
                            <option default hidden></option>
                            <option value="Lako">Lako</option>
                            <option value="Srednje"> Srednje</option>
                            <option value="Teško">Teško</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="NazivDržave" class="mb-1">Naziv države:</label>
                        <input type="text" name="imeDrzave" placeholder="Unesite naziv države..." class="form-control">
                    </div>
                    <div class="col-12 col-sm-6 topMarginSmall">
                        <label for="TipPitanja" class="mb-1">Tip pitanja:</label>
                        <select name="tipPitanja" class="form-control">
                            <option default hidden></option>
                            <option value="Glavni grad">Glavni grad</option>
                            <option value="Zastava">Zastava</option>
                            <option value="Populacija">Populacija</option>
                            <option value="Kontinent">Kontinent</option>
                        </select>
                    </div>
                </div>
                <input type="submit" class="btn dugme mt-4" value="Unesi">
            </form>
        </div>

        <div class="AdminForm">
            <h2>Obriši pitanje</h2>
            <form action="/adminDeleteQuestion" method="POST">
                <label for="NazivDržave" class="mb-1">Naziv države:</label>
                <input type="text" name="imeDrzave" placeholder="Unesite naziv države..." class="form-control mb-4">
                <label for="TipPitanja" class="mb-1">Tip pitanja:</label>
                <input type="text" name="tipPitanja" placeholder="Unesite tip pitanja..." class="form-control">
                <input type="submit" class="btn dugme mt-4" value="Obriši">
            </form>
        </div>
    </section>
    
    <%- include("./partials/footer.ejs") %>
</body>
</html>