<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body class="homeBody">

    <section class="HeroSection">
        <div class="NatureOverlay">
            <header>
                <%- include("./partials/nav.ejs") %>
            </header>
            <div class="container text-center HeroItems">
                <img src="images/Logo.png" alt="GeoQuest">
                <h1>Koliko dobro poznaje코 geografiju?</h1>
                <p>GeoQuest je edukativna aplikacija koja nudi interaktivne kvizove o geografiji. Testirajte svoje znanje o zemljama sveta, njihovim glavnim gradovima, zastavama i mnogim drugim geografski relevantnim temama. Pridru쬴te se izazovu, pro코irite svoje geografsko znanje i zabavite se sa prijateljima!</p>
                <p class="HeroCTA">Izazovi sebe, doka쬴 da si geo ekspert i zauzmi prvo mesto!</p>
                <p>Pridru쬴 se preko <span><%= userCount %></span> takmi캜ara 코irom Balkana!</p>
                <a href="/kviz" class="a-dugme">
                    <button type="button" class="btn dugme">Kreni kviz</button>
                </a>
            </div>            
        </div>
    </section>

    <div class="Weather container mt-5">
        <h2 class="mb-1">Vreme u <%= city.original %></h2>
        <% if (weather) { %>
            <div>
                <% if (weather.weather.icon && weather.weather.icon.url) { %>
                    <div class="weather-icon mb-3">
                        <img src="<%= weather.weather.icon.url %>" alt="<%= weather.weather.description || 'N/A' %>" style="width: 100px; height: 100px;">
                    </div>
                <% } else { %>
                    <p>Nije dostupna ikona da opi코e trenutno vreme</p>
                <% } %>

                <p class="WeatherArray"><span>Temperatura:</span> <%= weather.weather.temp && weather.weather.temp.cur ? weather.weather.temp.cur : 'N/A' %>춿C</p>
                <p class="WeatherArray"><span>Subjektivni ose캖aj:</span> <%= weather.weather.feelsLike && weather.weather.feelsLike.cur ? weather.weather.feelsLike.cur : 'N/A' %>춿C</p>
                <p class="WeatherArray"><span>Vla쬹ost vazduha:</span> <%= weather.weather.humidity !== undefined ? weather.weather.humidity : 'N/A' %>%</p>
                <p class="WeatherArray"><span>Pritisak:</span> <%= weather.weather.pressure !== undefined ? weather.weather.pressure : 'N/A' %> hPa</p>
                <p class="WeatherArray"><span>Brzina vetra:</span> <%= weather.weather.wind && weather.weather.wind.speed ? weather.weather.wind.speed : 'N/A' %> m/s</p>
                <p class="WeatherArray"><span>Vidljivost:</span> <%= weather.weather.visibility ? weather.weather.visibility / 1000 : 'N/A' %> km</p>
            </div>
        <% } else { %>
            <p>Trenutno ne mo쬰mo prikazati podatke o vremenu.</p>
        <% } %>
    </div>

    <div class="Aplikacija">
        <h2 class="text-center mb-3">Za코to smo izabrali ovu aplikaciju? 游뱂</h2>
        <p class="text-center">Inspirisani potrebom da se mladi ljudi edukuju o osnovama geografije, odlu캜ili smo da napravimo aplikaciju koja kroz igru podi쬰 svest o va쬹osti poznavanja sveta. GeoGuess nije samo igra, ve캖 i na캜in da nau캜ite ne코to novo i postanete pravi geograf!</p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>
