<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <header>
        <%- include("./partials/nav.ejs") %> 
    </header>

    <section class="RangLista container">
        <h1 class="text-center mb-4">Rang lista</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="HeadTable table">
                    <tr>
                        <th>#</th>
                        <th>Korisničko ime</th>
                        <th>Broj bodova</th>
                        <th>Vreme završetka</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (rezultati.length > 0) { %>
                        <% rezultati.forEach((rezultat, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= rezultat.nickname %></td>
                                <td><%= rezultat.najbolji_bodovi %></td>
                                <td><%= new Date(rezultat.datum).toLocaleDateString('en-GB', { day: 'numeric', month: 'short', year: 'numeric' }) %></td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="4" class="text-center">Nema rezultata za prikaz.</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </section>

    <%- include("./partials/footer.ejs") %>
</body>
</html>